/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PrescriptionID]
		, ISNULL([PrescriptionDate],[FirstAdministrationDateTime]) AS TimepointDate
      ,[PrescriptionDate]
      --,[PrescriptionStatus]
      ,[PrescriptionType]
      ,[AdmissionDate]
      ,[Drug]
      ,[Formulation]
      ,[Dose]
      ,[DoseUnit]
      --,[Frequency]
      --,[Route]
      --,[Indication]
      --,[ScheduledStartDateTime]
      --,[ScheduledStopDateTime]
      --,[DurationEnteredByPrescriber]
      --,[ReviewDateTime]
      ,[FirstAdministrationDateTime]
      --,[LastAdministrationDateTime]
      --,[NumberOfDosesAdministered]
      --,[SpecialInstructions]
      --,[TreatmentFunctionCode]
      --,[TreatmentSpecialty]
      --,[PatientOrderLocation]
      --,[idsetuid]
      ,[Clusterid]
      --,[LinkedSex]
      --,[LinkedBirthdate]
      --,[LinkedDeathdate]
      --,[SourceSex]
      --,[SourceBirthdate]
      --,[SourceDeathdate]
      --,[SpineCheckDate]
      ,[AntibioticsSource]
  FROM [PSS2].[pss2_snapshot].[antibiotics]
  where (year(PrescriptionDate)=2014 or year(firstadministrationdatetime)=2014) and month(firstadministrationdatetime)<>4 and cast(firstadministrationdatetime as date) not in ('20140606','20140105')
  order by firstadministrationdatetime